body{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.chat-input-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh; 
  display: flex;
  flex-direction: column;


}

.input-container{
  display: flex;
  margin-bottom:30px ;
}
.inputMessage{
  font-size: 25px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  flex-grow: 1;
  max-width: 500px;
}
.inputMessage::placeholder{
  font-size: 16px;
}
.send-button{
  margin-left:10px ;
  font-size: 15px;
  padding: 11px 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(31, 192, 31);
  color: white;
}

.profile-text-user{
  display: flex;
  justify-content: end;
  align-items: center;

}
.profile-text-robot{
  display: flex;
  align-items: center;
}
.message-text{
  background-color: rgb(230, 213, 213);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
  border-radius: 6px;

}
.user-image{
  width: 50px;

  
}
.robot-image{
  width: 50px;
}
.chat-container{
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.welcome-text{
  text-align: center;
}
.loading-image{
  width: 35px;

}